body
{
	margin:0px;
	padding:10px 0px 10px 0px;
}
table 
{
	width: 384px;
}

td
{
	font-family:"Quicksand";
	font-size: 18px;
}

p
{
	font-size: 19px;
}

div 
{
	text-align: justify;
	padding: 0px;
	width: 384px;
	overflow-x:hidden; 
}

img
{
	max-width: 378px;
	margin:0px;
	padding:0px;
	height: auto;
}