body
{
	margin:0px;
	padding:10px 0px 10px 0px;
}
table 
{
	width: 384px;
}

td
{
	font-family:"St Ryde";
	font-size: 17px;
	border-bottom: 1px solid black;
}

div 
{
	text-align: justify;
	padding: 0px;
	width: 378px;
	overflow-x:hidden; 
}

img
{
	max-width: 378px;
	margin:0px;
	padding:0px;
	height: auto;
}

.title
{
	text-decoration:underline;
	font-size:19px;
}